h1 {
    color:#000;
}
/** {
    border:solid;
}*/
.header{
    background-color: #FF9900;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
p, h2 {
    text-align: center;
}
body {
    background-color: #007BFF;
 }
.AboutMe{
    background-image: linear-gradient(to bottom right, green, yellow);
}